<script>
                (function($) {
                  $(document).on('page:load page:change', function () {
                    if (localStorage.getItem('storedDiscount')){
                      var discountStored = localStorage.getItem('storedDiscount');
                      $('input[name="promo"]').val(localStorage.getItem('storedDiscount'));
                    }
                    $('form[action="/cart"]').on('submit', function(){
                      var $discountCode = $('input[name="promo"]').val();
                      localStorage.setItem('storedDiscount', $discountCode);
                    });
                  });
                })(jQuery);
              </script>
              <div class="code-promo">
                <label>Code promo :</label>
                <input placeholder="Votre code promo" p autocomplete="off" type="text" name="promo" />
              </div>
